
body {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    box-sizing: border-box;
    background-image: url(background\ color.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 

.name-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    width: 80%;
    padding: 20px;
    justify-content: space-between;
}

.name-container h3 {
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
}

.name-container .image {
    max-width: 35%;
    max-height: 20em;
}

.city-container {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.city-container .mid-text {
    width: 50%;
    /* margin-left: 25em; */
}
.city-container image {
    width: 150px;
    margin-right: 60px; 
}

table, th, td {
    border: 1px solid black; 
    width: 60%; 
    border-collapse: collapse;
}

th {
    background-color: grey;
}
.table-container {
    text-align: center;
}

.lang {
    font-size: 1.5em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subject-text {
    max-width: 10%;
}

.subject-images img {
    width: 90%;
    margin-top: 5em;
}

.places-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.places-text {
    max-width: 10%; 
}
.places-images img {
    width: 90%;
    margin-top: 5em;
}

/* .amira-image img {
    max-width: 500px;
} */

@media (max-width: 600px) {
    .city-container {
        /* display: block; */
        display: flex;
        flex-wrap: wrap;

    }

    .amira-image img {
        max-width: 200px;
    }

    .tokyo-image img {
        width: 100%;
    }

    .city-container .mid-text {
        width: 100%;
    }

    .flex-containerr .subject-text p {
        background-color: red;
    }
    .subject-text p {
        background-color: brown;
        width: 94px;
    }
    
    .subject-images img {
        width: 40%;
        margin-left: 1em;
    }
}