
body {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    box-sizing: border-box;
    background-image: url(background\ color.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 

.name-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    width: 80%;
    padding: 20px;
    justify-content: space-between;
}

.name-container h3 {
    display: flex;
    margin-bottom: 10px;
    margin-left: 20px;
}

.name-container .image {
    max-width: 35%;
    max-height: 20em;
}

.city-container {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.city-container .mid-text {
    width: 50%;
    margin-left: 40px;
   
}
.city-container image {
    width: 150px;
    margin-right: 60px; 
}

table, th, td {
    border: 2px solid black; 
    width: 50%; 
    border-collapse: collapse;
}

th {
    background-color: grey;
}
.table-container {
    text-align: center;
}

.lang {
    font-size: 1.5em;
.column for-text{
    width: 40%;
} 
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.Machine-Learning, .Full-Stack, .Business-Systems{
    display: flex;

}

.flex-images {
    display: block;
}
.places-container img {
    margin: 1em;

}

.places-container {
    display: flex;
    justify-content: space-between;
}

.constitution, .apartheid , .human-kind{
    display: flex;

}

.places-images {
    display: block;
}

@media (max-width: 600px) {
    .city-container {
        /* display: block; */
        /* display: flex; */
        flex-wrap: wrap;

    }

    .amira-image img {
        max-width: 200%;
    }

    .tokyo-image img {
        width: 100%;
    }

    .city-container .mid-text {
        width: 100%;
    }

.flex-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 4em;
        justify-content: space-between;  
    }
    .subject-text p {
        max-width: 100%;
        margin-right: .5em;
        margin-top: 1em;
    }
    
    .subject-images img {
        flex: 1;
        max-width: 45%;
        margin-right: .5em;
        margin-top: 2.5em;
        object-fit: cover;
    }


    .places-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 4em;
        justify-content: space-between;
    }
    .apartheid {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    } 
}